<div class="col-md-4">
    <div class="list-group">
        <a href="/instance/$instance.id" class="list-group-item #if($pageName == 'instance-dash') active #end">Instance</a>
        <a href="/instance/$instance.id/config" class="list-group-item #if($pageName == 'instance-config') active #end">Configuration</a>
        <!--<a href="/instance/$instance.id/logging" class="list-group-item #if($pageName == 'instance-logging') active #end">Logging</a>-->
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><b>$instance.name</b></div>

        <ul class="list-group">
            <li class="list-group-item">
                #if($instanceStatus.status == "DOWN")
                    <a href="/instance/start/$instance.id" class="btn btn-success">Start</a>
                #elseif($instanceStatus.status == "STOPPING")
                    <button class="btn btn-disabled">Stopping...</button>
                #elseif($instanceStatus.status == "STARTING")
                    <button class="btn btn-disabled">Starting...</button>
                #else
                    <button class="btn btn-info">Restart</button>
                    <button class="btn btn-warning">Stop</button>
                #end
            </li>
        </ul>
    </div>
</div>