#parse('/templates/base/header.vm')

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading"><b>My Instances</b></div>
            <ul class="list-group">
                #foreach($instance in $instances)
                    <a href="/instance/$instance.id">
                        <li class="list-group-item">
                            <span class="badge badge-success">Online</span>
                            $instance.name
                        </li>
                    </a>
                #end
            </ul>
        </div>
    </div>
    <div class="col-md-8">


    </div>
</div>

#include('/templates/base/footer.vm')